.loginModal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginModal {
  background: white;
  width: 80vw;
  max-width: 400px;
  border-radius: 0.25rem;
  padding: 2rem 1rem;
  text-align: center;
}

.buttonModal {
  background-color: #3ba6d6;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 20px;
  padding: 0.5em;
  border-radius: 6px;
}
