.cont5{
    padding: 10px;
}

.cont5__image img{
    max-width: 350px;
}

.doctor1{
    font-size: 18px;
}

.cont5__section1{
    background-color: aliceblue;

}

.p1 {
    filter: opacity(0.6);
}

.cont5__section2{
    background-color: aliceblue;
}

.p2{
    color: rgb(74, 212, 212);
}

.lists2{
    line-height : 35px;
    
}

.list2{
    background-color: aliceblue;
}
