.container1__sect1{
  color: white;
}

.title1{
  color: #67d1df;
}

.title2{
  font-size: 20px;
  font-weight: 600;
}

.paragraf{
  filter: opacity(0.9);
}

.container1__sect2{

}

.container1 {
  display: flex;
  flex-flow: column;
}
.btn__container {
  width: 30%;
  margin: 4em auto 0 auto;
}

.btn__img {
  width: 20%;
}

.btn__paragraph {
  font-size: 25px;
  color: white;
  margin: 0.5em;
}
