.container1{
  padding: 10px;
  gap: 30px;
  justify-content: center;
}

.container1__sect1{
  color: rgb(253, 250, 250);
  max-width: 600px;
}

.title1{
  color: #67d1df;
}

.title2{
  font-size: 30px;
  font-weight: 800;
}

.paragraf{
  filter: opacity(0.9);
}

.container1__sect2__1{
  text-align: center;

}


.container1__sect2{
  display: flex;
}

.container1 {
  display: flex;
  flex-flow: column;
}
.btn__container {
  width: 30%;
  margin: 4em auto 0 auto;
}

.btn__img {
  width: 40%;
}

.btn__paragraph {
  font-size: 16px;
  color: white;
  margin: 0.5em;
}

@media (max-width: 1440px) {

}
