
.container {
  background-color: white;
  width: 37%;
  text-align: left;
  margin: 0;
}

.container__title {
  margin: 0 1em;
  padding-top: 0.8em;
}

.container__paragraph {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  margin: 0.5em 1.8em 1.5em 1.8em;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.form__input {
  font-size: 20px;
  padding: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
}

.form__input--date:before {
  content: attr(placeholder);
  color: gray;
}

.form__select {
  font-size: 20px;
  padding: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background-color: white;
}

.form__message {
  font-size: 20px;
  padding: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background-color: white;
}

.form__btn {
  background-color: #3eb6d6;
  color: white;
  font-size: 20px;
  padding: 1em;
  border: none;
  margin-bottom: 2em;
}
