.containerBappointment {
  background-color: white;
  max-width: 600px;
  text-align: left;
  margin: 0;
}

.containerBappointment__title {
  margin: 0 1em;
  padding-top: 0.8em;
}

.containerBappointment__paragraph {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  margin: 0.5em 1.8em 1.5em 1.8em;
}

.formBappointment {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.formBappointment__input {
  font-size: 20px;
  padding: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
}

.formBappointment__input--date:before {
  content: attr(placeholder);
  color: gray;
}

.formBappointment__select {
  font-size: 20px;
  padding: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background-color: white;
  color: gray;
}

.formBappointment__select:checked {
  color: black;
}

.formBappointment__opt--disabled {
  color: gray;
}

.formBappointment__message {
  font-size: 20px;
  padding: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background-color: white;
}

.formBappointment__btn {
  background-color: #3eb6d6;
  color: white;
  font-size: 20px;
  padding: 1em;
  border: none;
  margin-bottom: 2em;
  border-radius: 30px;
}
.formBappointment__btn:hover{
  color: rgb(0, 82, 185);
  opacity: 80%;
}
.formBappointment__btn:active{
  background-color: rgb(0, 82, 185);
  color: white;
}
@media (max-width: 375px) {
  .containerBappoiment {
    width: 20em;
  }
}
