.book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../components/Buttons/assets/Doctor-doctora.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
  justify-content: center;
}

.book-two {
  background-position: center 518px;
  background-color: white;
  background-image:none;
}
