.book{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../components/Buttons/assets/Doctor-doctora.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
