.cont1{
  background-color: #1867dd;
  color: white;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
}

.cont1 img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}

h1, h2 {
  font-size: 14px;
  filter: opacity(0.9);
}


.cont1__section1 {
  display: flex;

}

.cont1__text2{
  padding: 5px;
}
.cont1__list1{
 display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.cont1__list2{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.cont1__list3{
  display: flex;
   justify-content: space-between;
   margin-left: 10px;
   margin-right: 10px;
 }

 hr {
  width: 95%;
  height: 0;
  border: medium none;
  border-top: 1px dashed white!important
 }
