.headerBlackContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 600;
}
.miniHeaderBlackContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 35px;
  flex-wrap: wrap;
  color: white;
  align-items: baseline;
}
.navegationBarList{
display: flex;
flex-direction: column;
}
.navegationBarList p{
  justify-self: center;
  justify-content: center;
}
.headerSmallerContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  font-weight: 600;
}
.miniContainer {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  max-width: 50px;
  align-items: center;
  gap: 10px;
}
.miniContainer__logoLink {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}
.miniContainer__logoText {
  font-weight: 700;
  font-size: 21px;
  margin: 16px 0 0 5px;
}
.Home__button {
  background-color: transparent;
  border: 0px;
  padding: 0%;
  font: 16px Poppins, sans-serif;
  font-weight: 600;
  margin: 16px;
}
.Home__button:hover {
  color: #3ba6d6;
}
.Home__button:active {
  color:white;
  background-color: #3ba6d6;
  border-radius: 15px;
}
.Home__button__white {
  background-color: transparent;
  border: 0px;
  padding: 0%;
  font: 16px Poppins, sans-serif;
  font-weight: 600;
  color: white;
  padding-right: 4px;
  padding-left: 4px;
}
.Home__button__white:hover{
  color: #3ba6d6;
}
.Home__button__white:active{
  color: #3ba6d6;
  color:white;
  background-color: #3ba6d6;
  border-radius: 15px;
}

.miniContainer2 {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.miniContainer3 {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  max-width: 50px;
  align-items: center;
  gap: 10px;
}
.miniContainer4 {
  display: none;
}

.miniContainer3__dots {
  margin: 0px;
  font-size: 35px;
  align-self: flex-end;
}
.navegationBar {
  background-color: white;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
}
.miniContainer3__img1__image {
  width: 30px;
  height: 30px;
}
.hiddenBar {
  display: none;
}
@media (min-width: 1440px) {
  .miniContainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .miniContainer3 {
    display: none;
  }
  .miniContainer4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .navegationBar{
    display: none;
  }
}
