
.headerSmallerContainer{
  background-color: white;
  display: flex;
  flex-direction:row ;
  justify-content: space-around;
  margin: 10px;
}
.miniContainer{
  display: flex;
  flex-direction:row ;
  max-height: 50px;
  max-width: 50px;
  align-items:center;
  gap: 10px;
}
.miniContainer2{
  display: none;
  flex-direction:row ;
  align-items:center;
  gap: 10px;
}
.miniContainer3{
  display: flex;
  flex-direction:row ;
  max-height: 50px;
  max-width: 50px;
  align-items:center;
  gap: 10px;
}
.miniContainer4{
  display: none;
}

.dots{
margin:0px;
font-size: 35px;
align-self: flex-end;
}
.navegationBar{
  background-color: aqua;
  display: flex;
  justify-content: center;
}
.img1 img{
  width: 30px;
  height: 30px;
}
@media (min-width: 1440px) {
  .miniContainer2{
    display: flex;
    flex-direction:row ;
    align-items:center;
    gap: 10px;
  }
  .miniContainer3{
    display: none;
  }
  .miniContainer4{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
  }
}
