.NamePages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  font-size: 50px;
  background-image: url("../Buttons/assets/Doctor-doctora.jpg");
  background-size: cover;
}
