.cont2 {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.cont2__section1 h1 {
  font-size: 20px;
  margin-top: 30px;
}
.cont2__section1 p {
  line-height: 25px;
  filter: opacity(0.9);
}
.cont2__section1 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cont2__icon1 {
  display: flex;
  align-items: center;
  align-content: space-around;
  filter: opacity(0.9);
  gap: 10px;
}
.cont2__list {
  line-height: 40px;
  list-style-type: square;
  filter: opacity(0.9);
}

.cont2__section4 p {
  line-height: 35px;
  filter: opacity(0.9);
}

.cont2__section4 img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.cont2__icon1__icon{
  color: aqua;
 }

.cont2__section4 .span {
  margin-left: 14rem;
}
.cont2__reds{
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.cont2__reds__icon{
  display: flex;
  color: rgb(75, 186, 203);
  background-color: aliceblue;
  border: 10px solid aliceblue;
  border-radius: 50%;
}



@media (min-width: 1440px) {
  .cont2 {
    display: flex;
    align-content: flex-start;
    padding: 100px;
  }

  .cont2__section1 {
    width: 350px;
  }

  .cont2__section2 {
    width: 300px;
  }

  .cont2__section3 {
    width: 300px;
  }

  .cont2__section4 .span {
    margin-left: 10rem;
  }
}
