.signupForm__container__global {
  background-color: white;
}

.signupForm__container {
  display: flex;
  flex-flow: column nowrap;
  font-size: 17px;
  color: #565656;
  align-items: center;
  justify-content: center;
}

.signupForm__title {
  color: black;
}

.signupForm__label {
  margin-bottom: 1.2em;
  line-height: 2.5em;
}

.signupForm__input {
  display: block;
  width: 96%;
  padding: 0.8em;
  border: 1px solid #dddddd;
  border-radius: 0.4em;
  font-size: 17px;
}

.signupOptions__container {
  margin: 0.5em 0 0.5em;
}

.signupOptions__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.signupForm__inputOpt {
  border: 1px solid #dddddd;
  border-radius: 0.4em;
  width: 1.2em;
  height: 1.2em;
}

.signupForm__link--conditions {
  color: #3eb6d6;
  text-decoration: none;
  font-size: 17px;
}

.signupForm__link--login {
  color: #565656;
  text-decoration: none;
  font-size: 17px;
  margin-top: 1em;
}

.signupForm__btn {
  background-color: #3eb6d6;
  color: white;
  padding: 1em;
  text-align: center;
  border: none;
  font-size: 17px;
  width: 22%;
}
