@import url('https://fonts.googleapis.com/css2? family= Open+Sans & family= Poppins:wght@600 & display=swap');

.App{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  }
  p::first-letter{
    text-transform: capitalize;
  }




