.appointment__globalContainer {
  display: flex;
  flex-direction: column;
}

.appointment__introParagraph {
  text-align: center;
  color: #3eb6d6;
  font-weight: 600;
}

.appointment__formContainer {
  margin: 0 8em;
  font-size: 15px;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  color: #565656;
  font-size: 16px;
}

.form__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.formSpan__group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form__label {
  margin: 0 2em 1em;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 0.8em;
  color: #565656;
}
