.appointment__globalContainer {
  display: flex;
  flex-direction: column;
}

.appointment__introParagraph {
  text-align: center;
  color: #3eb6d6;
  font-weight: 600;
}

.appointment__formContainer {
  margin: 0 8em;
  font-size: 15px;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  color: #565656;
  font-size: 16px;
}

.form__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.formSpan__group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form__label {
  margin: 0 2em 1em;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 0.8em;
  color: #565656;
}

.form__input--select {
  width: 103.3%;
  padding: 0.8em;
  color: #565656;
}

.form__labelSex {
  margin-left: 3em;
}

.form__label--message {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
}

.form__textMessage {
  margin-top: 2em;
  margin-left: -13.4em;
  resize: none;
}

.form__button {
  margin-left: 3em;
  padding: 1em 2em;
  margin-bottom: 3em;
  background-color: #3eb6d6;
  color: white;
  font-size: 15px;
  border: none;
}
