

.cont{

  background-color: rgb(255, 255, 255);
  padding: 10px;

}

.cont__text h1{
  font-size: 14px;
  color:  #3FB6D6
}

.cont__text p{
  line-height : 25px;
  filter: opacity(0.7);

}

.cont img {
  width: 360px;
  height: 200px;
}

.cont__imgText p{
  line-height : 25px;
  line-height : 25px;
  filter: opacity(0.7);
}

.cont__button button{
  background-color: #3FB6D6;
  color: white;
  border: 0;
  width: 150px;
  height: 40px;
}

@media (min-width: 1440px) {

.cont{
  width: 600px;
  height: 500px;
}

  .cont__imgText{
    display: flex;
  }
  .cont__imgText p{
    margin-left: 10px;
  }

  .cont__button{
    margin-top: 15px;
  }

  }

