

.cont{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
background-color: rgb(255, 255, 255);
padding: 10px;
max-width: 620px;
}

.cont__text h1{
  font-size: 14px;
  color:  #3FB6D6
}

.cont__text p{

  filter: opacity(0.7);

}

.cont img {
  width: 360px;
  height: 200px;
}
.cont__imgText{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cont__imgText p{
  filter: opacity(0.7);
}

.cont__button button{
  background-color: #3FB6D6;
  color: white;
  border: 0;
}

@media (min-width: 1440px) {

.cont{
  width: 600px;
  height: 500px;
}
  }

